<div class="text-center">
<ul> 
  <h1 align="center">Résultats</h1>
  <!--affichage des opérandes et de l'opération-->
<p align="center">Notation Polonaise inversé  {{nombre1}} | {{nombre2}} | {{op}}</p>
<p align="center">   opération : {{opn}}</p>
<!--affichage du résultat de l'opération-->
<p align="center">Résultats : {{nb}}</p>
<!--test affichage du json envoye par méthode POST -->
<h2>test json envoyé au serveur :</h2>
<p>{{respjson}}</p>
<!--retour à la page d'acceuil de l'application-->
<a href="/">retour acceuil --> </a>
<p align="center">{{a}}</p>
</ul>
</div>