<!doctype html>
<html lang="en">

<head>
    <title>reverse text</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='result_words.js') }}"></script>

</head>

<body>
                      <!--header de la page -->
    <div class="text-center">
        <div class="btn btn-primary">
            <h1>Reverse Words</h1>
        </div>
    </div>
    <br><br><br>
    
                    <!-- doc pour l'utilisateur -->
    <div class="text-center">
        <h5>Cette application a pour objectif de vous permettre de parler comme Maître Yoda. Entrez une phrase et l'inversion des mots de votre phrase s'affichera.</h5>
    </div>
    <br><br>
                          <!-- formulaire -->
    <div align="center">
        <form method="POST" action="/result_word/">
            Entrez une phrase de plusieurs mots:<br><br>
            <input class="form-control form-control-lg" type="text" name="phrase"><br><br>
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Inversion</button>
            </div>
        </form>
    </div>
    <br><br>
    
                 <!-- lien vers la page d'acceuil -->
    <a href="/">
        <h3 align="center">Retour au Projet Expertus</h3>
    </a>
</body>

</html>
